@using Tech.WebApp
@using Tech.Entities
@using Tech.WebApp.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tech Sitem">
    <meta name="author" content="Berkin Akkaya">
    <title>My Tech Site</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="~/TechProjAssets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/TechProjAssets/css/fontawesome-all.css" rel="stylesheet">
    <link href="~/TechProjAssets/css/swiper.css" rel="stylesheet">
    <link href="~/TechProjAssets/css/magnific-popup.css" rel="stylesheet">
    <link href="~/TechProjAssets/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body>
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Sync</a> -->
            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="/Home/Index"><img src="~/TechProjAssets/images/logo.svg" alt="alternative"></a>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/Home/Index">Anasayfa <span class="sr-only">(current)</span></a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link page-scroll" href="#features">İşlem Yapılanlar</a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#screens">Durum Raporu</a>
                    </li>

                    @if (CurrentSession.User != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle page-scroll" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">İşlem Durumu</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Kayit/Create"><span class="item-text">Yeni Kayıt</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Kayit/EditState"><span class="item-text">Durum Güncelle</span></a>
                            </div>
                        </li>
                    }



                    <!-- Dropdown Menu -->
                    <!-- end of dropdown menu -->
                </ul>
                @if (CurrentSession.User == null)
                {
                    <span class="nav-item">
                        <a class="btn-outline-sm page-scroll" href="/Home/Login">Giriş Yap</a>
                    </span>
                }
                else
                {
                    <span class="nav-item">
                        <a>Merhaba @CurrentSession.User.Username  !</a>
                    </span>
                    <span class="nav-item">
                        <a class="btn-outline-sm page-scroll" href="/Home/Logout">Çıkış Yap</a>
                    </span>
                }
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    @RenderBody()

    @RenderSection("footer", required: false)


    <script src="~/TechProjAssets/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="~/TechProjAssets/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="~/TechProjAssets/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="~/TechProjAssets/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="~/TechProjAssets/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="~/TechProjAssets/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="~/TechProjAssets/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="~/TechProjAssets/js/scripts.js"></script> <!-- Custom scripts -->

</body>
</html>
